[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.9.20"
molecule = "==3.0.8"
docker = "==4.4.4"
ansible-lint = "==4.3.7"

[dev-packages]

[requires]
python_version = "3"
