---

- name: Apache_httpd | Ensure mod_pagespeed directories
  file:
    path: "{{ apache_modpagespeed_sources_extract_dir }}"
    state: directory

- name: Apache_httpd | Download mod_pagespeed sources
  get_url:
    url: "{{ apache_modpagespeed_sources_url }}"
    dest: "{{ apache_modpagespeed_download_dir }}"
    remote_src: yes

- name: Apache_httpd | Extract mod_pagespeed sources
  unarchive:
    src: "{{ apache_modpagespeed_sources_package_path }}"
    dest: "{{ apache_modpagespeed_download_dir }}"
    remote_src: yes

- name: Apache_httpd | Download mod_pagespeed deb package
  get_url:
    url: "{{ apache_modpagespeed_deb_url }}"
    dest: "{{ apache_modpagespeed_download_dir }}"
    remote_src: yes

- name: Apache_httpd | Extract so from deb
  command: "{{ apache_modpagespeed_sources_extract_dir }}/extract_so_from_deb.sh {{ apache_modpagespeed_deb_package_path }}"
  changed_when: false
  register: modpagespeed_sofiles

- name: Apache_httpd | Copy mod_pagespeed to Apache modules folder
  copy:
    src: "{{ item }}"
    dest: "{{ apache_install_dir }}/modules/"
    owner: root
    group: root
    mode: 0755
    remote_src: true
  with_items:
    - "{{ modpagespeed_sofiles.stdout_lines[1:] | replace(' ', '') }}"

- name: Apache_httpd | Copy mod_pagespeed configuration file
  template:
    src: "{{ apache_modpagespeed_playbook_templates_dir }}/{{ apache_modpagespeed_conf_file }}"
    dest: "{{ apache_install_dir }}/conf/extra/{{ apache_modpagespeed_conf_file }}"
    owner: root
    group: root
    mode: 0755
  when: apache_modpagespeed_conf
