http:
  http://localhost:{{ apache_port }}:
    status: 200
  http://localhost:{{ apache_port }}/example1/:
    status: 200
    body:
      - "idealista is awesome"

service:
  apache2:
    enabled: true
    running: true

file:
  {{ apache_install_dir }}:
    exists: true
    filetype: directory
    mode: "0755"
    owner: root
    group: root
  /usr/bin/apachectl:
    exists: true
    filetype: symlink
    linked-to: {{ apache_install_dir }}/bin/apachectl

user:
  {{ apache_user }}:
    exists: true
    groups:
      - {{ apache_group }}

group:
  {{ apache_group }}:
    exists: true

port:
  tcp:80:
    listening: true
